# virtual env
/bin/
/lib/
/include/
/tweetokenize/
/selenium/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.idea/

viz/politicians_graph.json

viz/politicians_graph.json
scraping/output/ale_dibattista.json
scraping/output/Antonio_Tajani.json
scraping/output/beppe_grillo.json
scraping/output/berlusconi.json
scraping/output/CarloCalenda.json
scraping/output/civati.json
scraping/output/distefanoTW.json
scraping/output/emmabonino.json
scraping/output/FusacchiA.json
scraping/output/gasparripdl.json
scraping/output/GiorgiaMeloni.json
scraping/output/GiovanniToti.json
scraping/output/GuidoCrosetto.json
scraping/output/Ignazio_LaRussa.json
scraping/output/lauraboldrini.json
scraping/output/luigidimaio.json
scraping/output/mara_carfagna.json
scraping/output/matteorenzi.json
scraping/output/matteosalvinimi.json
scraping/output/PaoloGentiloni.json
scraping/output/PietroGrasso.json
scraping/output/potere_alpopolo.json
scraping/output/renatobrunetta.json
scraping/output/Roberto_Fico.json
scraping/output/tweets/ale_dibattista_tweets.json
scraping/output/tweets/Antonio_Tajani_tweets.json
scraping/output/tweets/beppe_grillo_tweets.json
scraping/output/tweets/berlusconi_tweets.json
scraping/output/tweets/CarloCalenda_tweets.json
scraping/output/tweets/civati_tweets.json
scraping/output/tweets/distefanoTW_tweets.json
scraping/output/tweets/emmabonino_tweets.json
scraping/output/tweets/FusacchiA_tweets.json
scraping/output/tweets/gasparripdl_tweets.json
scraping/output/tweets/GiorgiaMeloni_tweets.json
scraping/output/tweets/GiovanniToti_tweets.json
scraping/output/tweets/GuidoCrosetto_tweets.json
scraping/output/tweets/Ignazio_LaRussa_tweets.json
scraping/output/tweets/lauraboldrini_tweets.json
scraping/output/tweets/luigidimaio_tweets.json
scraping/output/tweets/mara_carfagna_tweets.json
scraping/output/tweets/matteorenzi_tweets.json
scraping/output/tweets/matteosalvinimi_tweets.json
scraping/output/tweets/PaoloGentiloni_tweets.json
scraping/output/tweets/PietroGrasso_tweets.json
scraping/output/tweets/potere_alpopolo_tweets.json
scraping/output/tweets/renatobrunetta_tweets.json
scraping/output/tweets/Roberto_Fico_tweets.json
