
body, html {
  font-family: 'Roboto', sans-serif;
  width:100%;
  height:100%;
  margin:0;
  overflow: hidden;
  background: black;
  color:#ddd;
}

body * {
  box-sizing: border-box;
}

#container {
  width:100%;
  height:100%;
}

#container, #title {
  position: absolute;
  left:0;
  top:0;
}

#title h1, h2{
  font-weight: 100;
  font-family: 'Cormorant Garamond', serif;
}

#legenda {
  pointer-events: none;
  position: absolute;
  bottom:0;
  padding: 1rem 2rem;
  font-size: .8rem;
}

/* GRAPH */
#nodecontainer {
  position: absolute;
  top:0;
  left:0;
}
.node {
  position: absolute;
  top:0;
  left:0;
}
.nodebg {
}
.nodeimage {
  position: absolute;
  top:0;
  left:0;
  background-size: cover;
}


/* sidebar */

#edge-source, #edge-target, #node-info, #edge-info {
  visibility:hidden;
}


#sidebar .sidebar-nodeimage {
  background-size: cover;
  width:5rem; 
  height:5rem;
  border-radius: 50%;
}


#sidebar ul, #sidebar li{
  list-style-type: none;
  margin:0;
  padding:0;
}



.edge {
  mix-blend-mode: lighten;
}