
body, html {
  font-family: sans-serif;
  width:100%;
  height:100%;
  margin:0;
  overflow: hidden;
}

body {
  display:flex;
}

#title {
  position: absolute;
  margin: 1rem 0 0 2rem ;
}

#title h2{
      margin: 0.4rem 0;
}
#legenda {
  pointer-events: none;
  position: absolute;
  left:0;
  width:70%;
  bottom:0;
  padding:2rem;
  font-size: 70%;
}

/* GRAPH */
svg .link {
 stroke: #ddd;
 fill:none;
}

svg text {
  pointer-events: none;
  font-size: .7rem;
}

svg circle {
  cursor: pointer;
}

/* TOOLTIP */
#tooltip {
  font-size:.8rem;
  pointer-events: none;
  background: rgba(255,255,255,.95);
  padding: 2rem;
  padding-top: 40vh;
}
#tooltip h3 {
  margin-top:0;
}
#tooltip ul, #tooltip li{
  list-style-type: none;
  margin:0;
  padding:0;
}
